.resena-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
    align-items: stretch;
}

.resena-izquierda {
    width: 40%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.resena-nombre {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.resena-valoracion {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resena-valoracion .star {
    color: gold;
    font-size: 20px;
    margin-left: 10px;
}

.resena-direccion {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.resena-mapa {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.resena-descripcion {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.resena-derecha {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resena-imagen {
    width: 60%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.resena-info {
    text-align: left;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.resena-info p {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.resena-info p span {
    font-weight: bold;
}

.containerLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho */
}

.navbar {
    height: 80px;
    border-bottom-color: black;
    border-bottom-width: 0.5px;
    border-bottom-style: ridge;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho */
}

.navbar img{
    width: 15%;
}

.amarillo{
    background-color: #fdf7e8;
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
}

.star {
    font-size: 30px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s;
}

.star:hover,
.star.active {
    color: gold;
}